<div *ngIf="!sort" class="container">
	<div class="text">{{member.expLevel}}</div>
</div>

<div *ngIf="sort" class="sort">
	<c-sort (ascendent)="asc.emit()" (descendent)="des.emit()"></c-sort>
</div>
