.container{
	display:flex;
	justify-content:center;
	align-items:center;

	width: 40px;
	height: 40px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../../../../assets/image/tab-info/expLevel.png");

	.text{
		color: white;
		font-weight: 600;
		text-shadow: 2px 2px 2px black;
		margin-right: 4px;
		margin-bottom: 3px;
	}
}

.sort{
	width: 40px;
	display: flex;
	justify-content: center;
}
