.container{
	width: 80px;

	.sort{
		display: flex;
		justify-content: center;
	}

	.trophies{
		height: 30px;
		display:grid;
		grid-template-columns: auto min-content;
		align-items:center;

		background: gold;
		border-radius: 3px;
		padding-left: 7px;
		padding-right: 5px;
		.text{
			font-weight: 900;
			color: white;
			text-shadow: 0px 0px 1px #3a3a3a;
		}
		img{
			height: 24px;
			width: 24px;
		}
	}
}
