<div class="container">
	<div *ngIf="!sort" class="trophies">
		<div class="text">{{member.trophies}}</div>
		<img src="../../../assets/image/tab-info/trophies.png"/>
	</div>
	<div *ngIf="sort" class="sort">
		<c-sort (ascendent)="asc.emit()" (descendent)="des.emit()"></c-sort>
	</div>
</div>
