@import '../../../../assets/theme/variable';
@import '../style/commun';

.container{
	overflow: hidden;
	max-width: 200px;
	display: grid;
	grid-template-columns: max-content;
	grid-template-rows: repeat(2, min-content);
	.label{
		justify-self: center;
	}
	.zero{
		color: $gr70;
	}
}

c-sort {
	display: flex;
	justify-content: center;
}
