<div *ngIf="!sort" class="container">
	<div class="text">
		<span class="zero">{{zero}}</span>
		<span>{{age}}</span>
	</div>
	<div class="label">Days</div>
</div>

<c-sort *ngIf="sort" (ascendent)="asc.emit()" (descendent)="des.emit()"></c-sort>


