<div class="container">
	<div *ngIf="!sort" class="age">
		<div class="text">{{member["db-age"]}}</div>
		<div class="label">Age</div>
	</div>
	<div *ngIf="!sort" class="name">
		<div class="text">{{member["db-name"]}}</div>
		<div class="label">Name</div>
	</div>
	<c-sort *ngIf="sort" (ascendent)="asc_age.emit()" (descendent)="des_age.emit()"></c-sort>
	<c-sort *ngIf="sort" (ascendent)="asc_name.emit()" (descendent)="des_name.emit()"></c-sort>
</div>
