@import '../style/commun';

.container{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	grid-template-rows: min-content;
	grid-column-gap: 5px;
	.age{
		width: 20px;
		display: grid;
		grid-template-columns: max-content;
		grid-template-rows: repeat(2, min-content);
		align-items: center;

	}
	.name{
		overflow: hidden;
		max-width: 200px;
		display: grid;
		grid-template-columns: max-content;
		grid-template-rows: repeat(2, min-content);
		align-items: center;
	}
	c-sort:nth-of-type(2) {
		margin-left: 12px;
	}
}
