@import '../style/commun';

.container{
	width: 14px;
	height: 30px;
	display: grid;
	align-items: start;
	justify-items: center;
}

//.container{
//	width: 14px;
//	display: grid;
//	grid-template-columns: max-content;
//	grid-template-rows: repeat(2, min-content);
//	justify-self: center;
//}
