<div *ngIf="!sort" class="container">
	<img src="../../../assets/image/tab-info/warStars.png">
	<div class="text">{{member.warStars}}</div>
</div>

<div *ngIf="sort" class="sort">
	<c-sort (ascendent)="asc.emit()" (descendent)="des.emit()"></c-sort>
</div>
