.container{
	width: 80px;
	height: 30px;
	display: grid;
	grid-template-columns: min-content auto;
	grid-column-gap: 5px;
	align-items:center;

	background-color: #fc2d42;
	border-radius: 3px;
	padding-left: 7px;
	.text{
		font-weight: 600;
		margin-bottom: 2px;
		color: white;
	}
	img{}
}

.sort{
	width: 80px;
	display: flex;
	justify-content: center;
}
