@import '../style/commun';

.db-country {
	overflow: hidden;
	max-width: 200px;
	display: grid;
	grid-template-columns: max-content;
	grid-template-rows: repeat(2, min-content);
}

.sort {
	width: 100%;
	display: flex;
	c-sort{
		margin-left: 12px;
	}
}
