<div *ngIf="!sort" class="container">
	<div class="text">{{member["db-country"]}}</div>
	<div class="label">{{member["db-city"]}}</div>
</div>

<div *ngIf="sort" class="sort">
	<c-sort (ascendent)="asc_dbCountry.emit()" (descendent)="des_dbCountry.emit()"></c-sort>
	<c-sort (ascendent)="asc_dbCity.emit()" (descendent)="des_dbCity.emit()"></c-sort>
</div>
