<div *ngIf="!sort" class="container">
	<!----------------------->
	<div class="box-donation">
		<div class="text-box">
			<div class="donation">
				<span class="zero">{{zeroDonations}}</span>
				<span>{{member.donations}}</span>
			</div>
			<div class="separation">|</div>
			<div class="received">
				<span class="zero">{{zeroReceived}}</span>
				<span>{{member.donationsReceived}}</span>
			</div>
			<div class="index-box" [ngClass]="indexClass">
				<span class="sign" *ngIf="index >= 0">+</span>
				<span class="index">{{index}}</span>
				<span class="percent"><sup>%</sup></span>
			</div>

		</div>
		<div class="label-box">
			<div class="label">Donation</div>
			<div class="label">|</div>
			<div class="label">Received</div>
			<div class="label">Index</div>
		</div>
	</div>
	<!----------------------->
	<api-townHallLevel [member]="member"></api-townHallLevel>
	<!----------------------->
</div>

<div *ngIf="sort" class="sort">
	<c-sort (ascendent)="asc_apiDonation.emit()" (descendent)="des_apiDonation.emit()"></c-sort>
	<div></div>
	<c-sort (ascendent)="asc_apiReceived.emit()" (descendent)="des_apiReceived.emit()"></c-sort>
	<c-sort (ascendent)="asc_index.emit()" (descendent)="des_index.emit()"></c-sort>
	<c-sort (ascendent)="asc_apiTownHallLevel.emit()" (descendent)="des_apiTownHallLevel.emit()"></c-sort>
</div>

