@import '../../../../assets/theme/variable';
@import '../style/commun';

.container{
	display: flex;
	.text-box{
		display: grid;
		grid-template-columns: 60px 20px 60px 75px;
		grid-template-rows: 16px;
		justify-items: center;

		border-radius: 3px;
		background-color: $gr40;
		padding: 2px 2px 2px 10px;

		& * {
			color: $gr90;
			display: flex;
			align-items: center;
		}
		.zero{
			color: $gr50;
		}
		.donation{
			& * {
				margin-top: -1px;
			}
		}
		.separation{
			font-weight: 700;
			margin-top: -2px;
			font-size: 14px;
			color: $gr60;
		}
		.received{
			& * {
				margin-top: -1px;
			}
		}
		.index-box{
			display: flex;
			align-items: center;

			width: calc(100% - 12px);
			margin-left: 12px;

			border-radius: 3px;
			padding-left: 5px;

			& * {
				color: white;
			}
			.percent{
				font-size: 14px;
				margin-left: 2px;
				margin-top: -2px;
			}
		}
	}
	.label-box{
		display: grid;
		grid-template-columns: 60px 20px 60px 75px;
		grid-template-rows: 12px;
		justify-items: center;
		padding: 0px 2px 0px 10px;
	}
}

.red3{
	background-color: red;
}
.red2{
	background-color: #ff6815;
}
.red1{
	background-color: #ffae00;
}
.grey{
	background-color: #7c7c7c;
}
.green1{
	background-color: #c4fe26;
}
.green2{
	background-color: #89ff60;
}
.green3{
	background-color: #35ce00;
}

.sort{
	display: grid;
	grid-template-columns: 60px 20px 60px 75px auto;
	justify-items: center;
	padding: 0px 2px 0px 10px;

	c-sort:nth-of-type(3) {
		margin-left: 12px;
	}
	c-sort:nth-of-type(4) {
		margin-left: 2px;
	}
}
