@import '../../../assets/theme/variable';

.label {
	font-size: 10px;
	color: $gr70;
}

.container {
	overflow: auto;
	width: 100%;
	height: 100%;

	.container-tab {
		display: grid;
		grid-template-columns: repeat(12, max-content);
		grid-auto-flow: row;
		grid-auto-rows: min-content;
		grid-column-gap: 12px;
		align-items: center;
		padding: 50px;
	}
}

.box-transition {
	cursor: pointer;

	&:hover .divA {
		color: red;
		transition: color 500ms 100ms;
	}

	&:hover .divB {
		color: red;
		transition: color 500ms 200ms;
	}

	&:hover .divC {
		color: red;
		transition: color 500ms 300ms;
	}

	&:hover .divD {
		color: red;
		transition: color 500ms 400ms;
	}

	> div {
		color: $gr70;
		transition: color 0ms;
	}
}


//@media screen and (min-width: 600px) {
//	.boxes {
//		display: grid;
//		grid-template-columns: repeat(4, 1fr);
//	}
//
//	.boxes button:nth-of-type(1) {
//		order: 4;
//	}
//
//	.boxes button:nth-of-type(2) {
//		order: 3;
//	}
//
//	.boxes button:nth-of-type(3) {
//		order: 2;
//	}
//
//	.boxes button:nth-of-type(4) {
//		order: 1;
//	}
//}
