<!--
<api-townHallLevel [member]="item"></api-townHallLevel>
<db-city [member]="item"></db-city>
-->


<div class="container">

	<div class="container-tab">
		<api-clanRank
				*ngIf="showApiClanRank"
				[sort]="true"
				(asc_rank)="asc_apiClanRank()"
				(des_rank)="des_apiClanRank()"
				(asc_delta)="asc_apiPreviousClanRank()"
				(des_delta)="des_apiPreviousClanRank()">
		</api-clanRank>
		<api-league
				*ngIf="showApiLeague" [sort]="true">
		</api-league>
		<api-trophies
				*ngIf="showApiTrophies" [sort]="true"
				(asc)="asc_apiTrophies()"
				(des)="des_apiTrophies()">
		</api-trophies>
		<api-expLevel
				*ngIf="showApiExpLevel"
				[sort]="true"
				(asc)="asc_apiExpLevel()"
				(des)="des_apiExpLevel()">
		</api-expLevel>
		<api-warStars
				*ngIf="showApiWarStars"
				[sort]="true"
				(asc)="asc_apiWarStars()"
				(des)="des_apiWarStars()">
		</api-warStars>
		<api-name
				*ngIf="showApiName"
				[sort]="true"
				(asc_name)="asc_apiName()"
				(des_name)="des_apiName()"
				(asc_townHallLevel)="asc_apiTownHallLevel()"
				(des_townHallLevel)="des_apiTownHallLevel()"
				(asc_role)="asc_apiRole()"
				(des_role)="des_apiRole()">
		</api-name>
		<db-name
				*ngIf="showDbName"
				[sort]="true"
				(asc_age)="asc_dbAge()"
				(des_age)="des_dbAge()"
				(asc_name)="asc_dbName()"
				(des_name)="des_dbName()">
		</db-name>
		<db-time
				*ngIf="showDbTime"
				[sort]="true"
				(asc_time)="asc_dbTime()"
				(des_time)="des_dbTime()"
				(asc_gmt)="asc_dbGMT()"
				(des_gmt)="des_dbGMT()">
		</db-time>
		<db-country
				*ngIf="showDbCountry"
				[sort]="true"
				(asc_dbCountry)="asc_dbCountry()"
				(des_dbCountry)="des_dbCountry()"
				(asc_dbCity)="asc_dbCity()"
				(des_dbCity)="des_dbCity()">
		</db-country>
		<db-role
				*ngIf="showDbRole"
				[sort]="true"
				(asc)="asc_apiRole()"
				(des)="des_apiRole()">
		</db-role>
		<db-ageinclan
				*ngIf="showDbAgeinclan"
				[sort]="true"
				(asc)="asc_dbAgeInClan()"
				(des)="des_dbAgeInClan()">
		</db-ageinclan>
		<api-donations
				*ngIf="showApiDonations"
				[sort]="true"
				(asc_apiDonation)="asc_apiDonation()"
				(des_apiDonation)="des_apiDonation()"
				(asc_apiReceived)="asc_apiReceived()"
				(des_apiReceived)="des_apiReceived()"
				(asc_apiTownHallLevel)="asc_apiTownHallLevel()"
				(des_apiTownHallLevel)="des_apiTownHallLevel()">
		</api-donations>

		<ng-container *ngFor="let item of members; let i = index">
			<api-clanRank *ngIf="showApiClanRank" [member]="item"></api-clanRank>
			<api-league *ngIf="showApiLeague" [member]="item"></api-league>
			<api-trophies *ngIf="showApiTrophies" [member]="item"></api-trophies>
			<api-expLevel *ngIf="showApiExpLevel" [member]="item"></api-expLevel>
			<api-warStars *ngIf="showApiWarStars" [member]="item"></api-warStars>
			<api-name *ngIf="showApiName" [member]="item"></api-name>
			<db-name *ngIf="showDbName" [member]="item"></db-name>
			<db-time *ngIf="showDbTime" [member]="item"></db-time>
			<db-country *ngIf="showDbCountry" [member]="item"></db-country>
			<db-role *ngIf="showDbRole" [member]="item"></db-role>
			<db-ageinclan *ngIf="showDbAgeinclan" [member]="item"></db-ageinclan>
			<api-donations *ngIf="showApiDonations" [member]="item"></api-donations>
		</ng-container>
	</div>

</div>
