

<div *ngIf="!sort" class="container">
	<!------------------>
	<div class="api-clanRank" *ngIf="showClanRank">{{clanRank}}</div>
	<!------------------>
	<div class="api-previousClanRank" *ngIf="showPreviousClanRank">
		<div class="material-icons">{{icon}}</div>
		<div class="text">{{deltaRank}}</div>
	</div>
	<!------------------>
</div>

<div *ngIf="sort" class="container">
	<!------------------>
	<div class="sort-clanRank" *ngIf="showClanRank">
		<c-sort (ascendent)="asc_rank.emit()" (descendent)="des_rank.emit()"></c-sort>
	</div>
	<!------------------>
	<div class="sort-previousClanRank" *ngIf="showPreviousClanRank">
		<c-sort (ascendent)="asc_delta.emit()" (descendent)="des_delta.emit()"></c-sort>
	</div>
	<!------------------>
</div>



