@import '../../../../assets/theme/variable';

$color-clanRank: $gr90;
$color-previousClanRank: $gr60;

.container {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: min-content;
	grid-column-gap: 2px;
	align-items: center;

	.api-clanRank {
		width: 36px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;

		color: $color-clanRank;
		font-size: 22px;
		font-weight: 900;
		text-shadow: 1px 1px 3px black;

		border-radius: 5px;
		background: #474747;
	}

	.sort-clanRank{
		width: 36px;
		display: flex;
		justify-content: center;
	}

	.sort-previousClanRank{
		display: flex;
		justify-content: center;
	}

	.api-previousClanRank {
		width: min-content;
		height: min-content;
		display: flex;
		flex-direction: column;
		align-items: center;

		.material-icons {
			color: $color-previousClanRank;
			text-align: center;
			font-size: 1em;
			margin-top: -4px;
		}

		.text {
			color: $color-previousClanRank;
			font-weight: 700;
			font-size: 10px;
			line-height: 8px;
			margin-top: -2px;
		}
	}
}
