<div class="container">
	<div *ngIf="!sort" class="townHallLevel">{{member.townHallLevel}}</div>
	<div *ngIf="!sort" class="name">
		<div class="text">{{member.name}}</div>
		<div class="label">{{role}}</div>
	</div>
	<c-sort *ngIf="sort" (ascendent)="asc_townHallLevel.emit()" (descendent)="des_townHallLevel.emit()"></c-sort>
	<c-sort *ngIf="sort" (ascendent)="asc_name.emit()" (descendent)="des_name.emit()"></c-sort>
	<c-sort *ngIf="sort" (ascendent)="asc_role.emit()" (descendent)="des_role.emit()"></c-sort>
</div>
