@import '../style/commun';

.container{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	grid-template-rows: min-content;
	grid-column-gap: 2px;
	.townHallLevel{
		width: 16px;
		height: 100%;
		display: grid;
		align-items: start;
		justify-items: center;
		font-size: 10px;
	}
	.name{
		display: grid;
		grid-template-columns: max-content;
		grid-template-rows: repeat(2, min-content);
	}

	c-sort:nth-of-type(2) {
		margin-left: 12px;
	}

	c-sort:nth-of-type(3) {
		margin-left: 12px;
	}
}
