<div class="container">

	<div class="c-sort-button-descendent" (click)="onDescendent()"></div>
	<div class="c-sort-button-ascendent" (click)="onAscendent()"></div>

	<div class="material-icons icon-up button-up-asc">expand_less</div>
	<div class="icon-middle-box">
		<div class="icon-middle icon-ascA icon-descA"></div>
		<div class="icon-middle icon-ascB icon-descB"></div>
		<div class="icon-middle icon-ascC icon-descC"></div>
	</div>
	<div class="material-icons icon-down button-down-desc">expand_more</div>

</div>
