@import '../../../assets/theme/variable';

.container{
	width: 16px;
	position: relative;

	display: grid;
	grid-template-columns: 16px;
	grid-template-rows: 14px min-content 14px;
	justify-items: center;

	$icon-color: $gr80;
	$margin-bottom-top: -2px;
	$transition-icon: color 25ms ease 175ms;

	.icon-up{
		color: $icon-color;
		align-self: start;
		transition: $transition-icon;
		margin-top: $margin-bottom-top;
	}
	.icon-middle-box{
		display: grid;
		grid-template-columns: min-content;
		grid-template-rows: repeat(3, min-content);
		grid-row-gap: 2px;

		.icon-middle{
			width: 3px;
			height: 3px;
			border-radius: 2px;
			background-color: $icon-color;
		}
	}
	.icon-down{
		color: $icon-color;
		align-self: end;
		transition: $transition-icon;
		margin-bottom: $margin-bottom-top;
	}


	//// BUTTON ////////////////////////////////////////
	.c-sort-button-descendent, .c-sort-button-ascendent{
		width: 100%;
		height: 50%;
		position: absolute;
		opacity: 0.5;
	}

	.c-sort-button-ascendent{
		top: 50%;
	}


	//// UP DESCENDENT
	.c-sort-button-descendent:hover ~ .icon-up{
		color: #575757;
	}
	.c-sort-button-descendent:hover ~ .icon-middle-box .icon-descA{
		background-color: #575757;
		transition: background-color 25ms ease 125ms;
	}
	.c-sort-button-descendent:hover ~ .icon-middle-box .icon-descB{
		background-color: #575757;
		transition: background-color 25ms ease 100ms;
	}
	.c-sort-button-descendent:hover ~ .icon-middle-box .icon-descC{
		background-color: #575757;
		transition: background-color 25ms ease 25ms;
	}

	.c-sort-button-descendent:active ~ .icon-up{
		margin-top: -4px;
	}

	//// DOWN ASCENDENT
	.c-sort-button-ascendent:hover ~ .icon-down{
		color: #ff8547;
	}
	.c-sort-button-ascendent:hover ~ .icon-middle-box .icon-ascA{
		background-color: #ff8547;
		transition: background-color 25ms ease 25ms;
	}
	.c-sort-button-ascendent:hover ~ .icon-middle-box .icon-ascB{
		background-color: #ff8547;
		transition: background-color 25ms ease 100ms;
	}
	.c-sort-button-ascendent:hover ~ .icon-middle-box .icon-ascC{
		background-color: #ff8547;
		transition: background-color 25ms ease 125ms;
	}

	.c-sort-button-ascendent:active ~ .icon-down{
		margin-bottom: -4px;
	}
}

:host(.ascendent-selected) .container {
	.icon-down{
		color: #ff8547;
	}
	.icon-middle-box .icon-ascA{
		background-color: #ff8547;
	}
	.icon-middle-box .icon-ascB{
		background-color: #ff8547;
	}
	.icon-middle-box .icon-ascC{
		background-color: #ff8547;
	}
}

:host(.descendent-selected) .container {
	.icon-up{
		color: #575757;
	}
	.icon-middle-box .icon-ascA{
		background-color: #575757;
	}
	.icon-middle-box .icon-ascB{
		background-color: #575757;
	}
	.icon-middle-box .icon-ascC{
		background-color: #575757;
	}
}


