@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import './assets/theme/variable';

*{
	font-family: 'Lato', sans-serif;
	color: #373737;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	height: 100%;
}

//SCROLLBAR
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #cacbce;
	border: 0px none $gr90;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background: $gr50;
}
::-webkit-scrollbar-thumb:active {
	background: $gr50;
}
::-webkit-scrollbar-track {
	background: $gr20;
	border: 0px solid $gr90;
	border-radius: 2px;
	background-color: rgba(235, 235, 237, 0.3);
}
::-webkit-scrollbar-track:hover {
	background: $gr20;
}
::-webkit-scrollbar-track:active {
	background: $gr20;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
