<div class="container">
	<div *ngIf="!sort" class="time">
		<div class="text">{{member["db-time"]}}</div>
		<div class="label">Time</div>
	</div>
	<div *ngIf="!sort" class="gmt">{{member["db-gmt"]}}</div>

	<c-sort *ngIf="sort" (ascendent)="asc_time.emit()" (descendent)="des_time.emit()"></c-sort>
	<c-sort *ngIf="sort" (ascendent)="asc_gmt.emit()" (descendent)="des_gmt.emit()"></c-sort>
</div>
