@import '../style/commun';

.container{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: auto min-content;
	grid-template-rows: min-content;
	grid-column-gap: 2px;
	justify-items: center;
	.time{
		display: grid;
		grid-template-columns: max-content;
		grid-template-rows: repeat(2, min-content);
		.label{
			justify-self: center;
		}
	}
	.gmt{
		width: 16px;
		height: 100%;
		display: grid;
		align-items: start;
		justify-items: center;
		font-size: 10px;
	}
}
